@font-face {
    font-family: 'quintessentialregular';
    src: url('../font/quintessential-regular-webfont.woff2') format('woff2'),
    url('../font/quintessential-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_monoregular';
    src: url('../font/notomono-regular-webfont.woff2') format('woff2'),
    url('../font/notomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    body {
        display: flex;
        flex-direction: row-reverse;
        max-width: 60%;
        height: 100%;
        margin: auto;
    }

    a {
        color: black;
        text-decoration: none;
    }

    main a:hover {
        color: #64A082; /* vert */
    }

    div a:hover {
        color: #E6E6E6; /* couleur gris claire */
    }

    /*------------- colonne contact ------------------*/
    div {
        background: #64A082; /* vert */
        width: 60%;
        overflow: auto;
    }

    figure {
        text-align: center;
        height: auto;
        /*margin: 7vh 0 14vh 0;*/
    }

    div h2 {

        text-transform: uppercase;
        /*letter-spacing: 0.3rem;*/
        color: rgb(200, 200, 200);
        background: #575757; /* couleur gris foncé */
        padding: 2vh 0 2vh 0;
        text-align: center;
    }

    /* --------------- contact ------------------*/
    address {
        display: flex;
        flex-direction: column;
        margin: 3vh 1vw 5vh 1vw;
    }

    .inter {
        margin: 2vh 0 2vh 0;
    }

    /* -----------------  A propos ----------------*/
    div p {
        margin: 4vh 1vw 60vh 1vw;
    }

    /* --------------  Loisir  ----------------*/
    .loisir ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0 1vw 0 2vw;
    }

    .loisir li {
        font-size: 30px;
        padding: 2.2vh 0.5vw 0.3vh 0;
    }

    /*--------- colonne profession ---------------*/
    main {
        font-family: 'quintessentialregular';
        background: #E6E6E6; /* couleur gris claire */
        width: 90%;
        padding: 5vh 2vw 0 2vw;
        overflow: auto;
        margin: 0;
    }

    /* -----------  titre  -----------  */
    header {
        text-align: left;
        padding: 4vh 0 8vh 0;
    }

    header h1 {
        font-size: 2rem;
        font-family: 'noto_monoregular';
        text-transform: uppercase;
        margin: 0;
    }

    h1 span {
        font-size: 1.9rem;
        color: #64A082; /* Antoine en vert */;
    }

    header h2 {
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }

    /* ------------- section formation ---------*/
    .formation .experience ul {
        margin: 0;
        padding: 2vh 0 2vh 3vw;
    }

    .formation, .experience li {
        list-style-image: url("../img/ipuce.png");
    }
    .formation li:first-of-type {
        list-style-image: url("../img/iclavier.png");
    }
    .formation li:nth-child(5) {
        list-style-image: url("../img/iclavier.png");
    }

    .formation h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        border-bottom: 4px solid #64A082; /* vert */
    }

    .experience h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        border-bottom: 4px solid #64A082; /* vert */
    }


    /* ------------- section recommendation ---------*/
    .recommandation {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    .recommandation h2 {
        font-size: 1.3rem;
        flex: auto;
        text-transform: uppercase;
        padding: 0 13vw 0 1.5vw;
        border-bottom: 4px solid #64A082; /* vert */
    }

    .recommandation address {
        font-size: 0.9rem;
        flex: none;
        padding: 1vh 0 0 2vw;
    }

/*  -----------------  pour les écrans de 850px à 1400px tablette  -------------*/

@media screen and (min-width:850px) and (max-width:1400px){
    body{
        max-width: 80%;
        height: 100%;
        margin: auto;
    }
    body a{
        color: black;
    }
    div{
        width: 62%;
    }
    div h2{
        font-size: 1.4rem;
        letter-spacing: 0;
    }
    figure{
        text-align: center;
        height: auto;
    }
    address{
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        margin: 4vh 2vw 5vh 3vw;
    }
    .apropos p {
        margin: 4vh 2vw 60vh 3vw;
    }
    .loisir li {
        padding: 0 0.5vw 0  0.5vw;
    }
    main {
        width: 100%;
    }

    .recommendation {
        padding: 0 ;
    }

    .contact1{
        font-size: 0.8rem;
        flex: 0 1 40%;
        padding: 0 0 0 1vw;
    }
    .contact2{
        font-size: 0.8rem;
        flex: 0 1 40%;
        padding: 0 0 0 1vw;
    }
}

/*  -----------------  pour les écrans de moins de 849 px téléphone  -------------*/

@media screen and (max-width:849px) {
    body{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: 100%;
        margin: auto;
    }
    body a{
        color: black;
    }
    div{
        width: 100%;
    }
    div h2{
        font-size: 1.4rem;
        letter-spacing: 0;
    }
    figure{
        text-align: center;
        height: auto;
    }
    address{
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        margin: 2vh 2vw 3vh 3vw;
    }
    .apropos p {
        margin: 2vh 2vw 4vh 3vw;
    }
    .loisir li {
        padding: 0 0.5vw 0  0.5vw;
    }
    main {
         width: 100%;
    }

    .recommendation {
        padding: 0 ;
    }

    .contact1{
        font-size: 0.8rem;
        flex: 0 1 40%;
        padding: 0 0 0 1vw;
    }
    .contact2{
        font-size: 0.8rem;
        flex: 0 1 40%;
        padding: 0 0 0 1vw;
    }

    .recommandation h2 {
        padding: 0 50vw 0 1.5vw;
    }



}
