
@font-face {
    font-family: 'quintessentialregular';
    src: url('../docs/font2/quintessential-regular-webfont.woff2') format('woff2'),
    url('../docs/font2/quintessential-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_monoregular';
    src: url('../docs/font1/notomono-regular-webfont.woff2') format('woff2'),
    url('../docs/font1/notomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex;
    flex-direction: row-reverse;
    max-width: 55em;
    height: 84.5em;
    margin: auto;
}
body a{
    color: black;
    text-decoration: none;
}

/*------------- colonne contact ------------------*/

.col_contact{
    background: rgb(100, 160, 130); /* vert */
    width: 28em;
    overflow: auto;
}
.photo{
    text-align: center;
    height: 10em;
    margin: 2em 0 2em 0;
}
.col_contact h2{
    font-size: 1.3em;
    color: rgb(200, 200, 200);
    background: rgb(87, 87, 88); /* couleur gris foncé */
    padding: 9px 0 8px  0;
    text-align: center;
}
/* --------------- contact ------------------*/
.contact{
    display: flex;
    flex-direction: column;
    margin: 2em 1em 8em 1em;
}
.inter{
    margin: 1em 0 1em 0;
}
/* -----------------  A propos ----------------*/

.a_propos p{
    margin: 2em 1em 25em 1em;
}
/* --------------  Loisir  ----------------*/

.loisir ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    list-style-type: none;
    padding: 0 1em 0  2em;
}
.loisir li {
    padding: 2.2em 0.5em 0.3em  0;
}
/*--------- colonne profession ---------------*/

.col_profession {
    font-family: 'quintessentialregular';
    background: rgb(230, 230, 230); /* couleur gris claire */
    width: 60em;
    padding: 5em 2em 0  2em;
    overflow: auto;
    margin: 0;
}

.titre{
    text-align: left;
    padding: 0 0 1.2em 2em;
}
.titre h1{
    font-size: 2em;
    font-family: 'noto_monoregular';
    margin: 0;
}
h1 span{
    font-size: 0.98em;
    color:OliveDrab; /* Antoine en vert */;
}
.titre h2{
    font-size: 1em;
    margin: 0;
    padding: 0;
}
/* ------------- section formation ---------*/

.formation h2 {
    font-size: 1.3em;
    margin: 3em 0 0 2em;
    padding: 0;
}
.formation ul{
    margin: 0;
    padding: 2em 0 2em 3em;
    border-top:4px solid OliveDrab;
}
/* ------------- section experience ---------*/

.experience h2 {
    font-size: 1.3em;
    margin: 0 0 0 2em;
    padding: 0;
}
.experience ul {
    margin: 0;
    padding: 2em 0 2em 3em;
    border-top:4px solid OliveDrab;
}
.formation, .experience li{
list-style-image:url("../docs/ipuce.png") ;
}
.formation li:first-of-type{
    list-style-image:url("../docs/iclavier.png") ;
}
.formation li:nth-child(5){
    list-style-image:url("../docs/iclavier.png") ;
}
/* ------------- section recommendation ---------*/



.recommendation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0em 0 0 0;
}
.listerecommendation {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 2em 0 2em 3em;
    border-top: 4px solid OliveDrab;
}
.recommendation h2{
    font-size: 1.3em;
    margin: 0 0 0 2em;
    padding: 0;
}
.recommendation p{
}

.contact1{
    font-size: 0.8em;
    flex-basis:50%;
    padding: 1em 0 0 2em;
}

.contact2{
    font-size: 0.8em;
    flex-basis: 50%;
    padding: 1em 0 0 2em;
}
/*  -----------------  pour les écrans de moins de 750 px -------------*/

@media screen and (max-width: 750px) {
    body{
        display: flex;
        flex-direction: column;
        height: 143.2em;
        margin: auto;
    }
    body a{
        color: black;
    }
    .col_contact{
        min-width: 29em;
    }
    .contact{
        display: flex;
        flex-direction: column;
        margin: 2em 1em 3em 1em;
    }
    .a_propos p {
        margin: 2em 1em 4em 1em;
    }
    .loisir li {
        padding: 0 0.5em 0  0.5em;
    }
    .col_profession {
        width: 25em;
    }

    .recommendation {
        padding: 0 ;
    }

    .contact1{
        font-size: 0.8em;
        flex-basis: 40%;
        padding: 0 0 0 1em;
    }
    .contact2{
        font-size: 0.8em;
        flex-basis: 40%;
        padding: 0 0 0 1em;
    }
}